@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

:root {
--main: #5EC3E6;
--main-hover: #006DB6;
--chill: #1e90ff;
}

body {
  overflow-x: hidden;
  font-family: open sans, sans-serif;
  color: #505962;
}
.navbar {
  background: rgba(0,0,0,.4);
}
.navbar-brand img {
  height: 5rem;

}

h1,
h2,
h3,
h4 {
	color: #ffffff;
}

.btn-outline-warning {
  color: rgba(255, 250, 101,1.0);
  border-color: rgba(255, 250, 101,1.0);
  font-family: 'Source Sans Pro', sans-serif;
  background-color: rgba(116, 125, 140,.0);

}
.btn-outline-warning:hover,
.btn-outline-warning:focus {
  color: rgba(0, 109, 182,1.0);
  border-color: rgba(0, 109, 182,1.0);
  background-color: rgba(255, 255, 255,1.0);
}

.nav-link{
  color: rgba(255, 255, 255,1.0);
}

.caption {
  position: absolute;
  top: 20%;
  width: 100%;
  color: white;
}

.caption h1{
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}

.caption h3{
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  font-size: 1.1rem;
  padding: .6rem 1.3rem;
}
.h3-responsive{
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  text-emphasis-color: #3742fa;
}

.btn {
	border-radius: 50px;
	padding: 10px 23px;
}

.hk-section {
	padding: 80px 0;
}
/*============= COURSE SECTION =============*/

.col-md-8 {
  margin: 2rem auto 8rem;
  padding-top: 2rem;
}
.col-md-8 h1 {
    font-size: 2.4rem;
}

.btn-secondary {
  border-width: thin;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  color: rgba(255, 255, 255,.9);
/*
  border-color: #3742fa;
  background-color: #3742fa;
  */
  border-color: rgba(255, 255, 255,.5);
  background-color: rgba(30, 144, 255,.3) ;
}

.btn-secondary:hover,
.btn-secondary:focus {

  border-color: rgba(55, 66, 250,.9);
  background-color: rgba(27, 20, 180,.9);
  color: rgba(255, 255, 255,1.0);
}

.video-background {
  position: absolute;
  background: rgba(27, 20, 100,.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

@media (max-width: 768px) {
  .caption h1{
    font-size: 1.4rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }

  .caption h3{
    font-size: 1.1rem;
    padding-bottom: 1.2rem;
  }

  .btn-lg {
    font-size: 1rem;
    padding: .5rem 1rem;
  }
  .col-md-8 h1 {
      font-size: 1.7rem;
  }

}
/*============ CONTACT FORM:=============*/
* {
   box-sizing:border-box;
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   -webkit-font-smoothing:antialiased;
   -moz-font-smoothing:antialiased;
   -o-font-smoothing:antialiased;
   font-smoothing:antialiased;
   text-rendering:optimizeLegibility;
}
body {
   color: #C0C0C0;
   font-family: 'Source Sans Pro', sans-serif;
}


/* Contact Form Styles */
h1 {
   margin: 10px 0 0 0;
}
h4{
   margin: 0 0 20px 0;
}
#contact-form {
   background-color:rgba(30, 144, 255,.3);
   padding: 10px 20px 30px 20px;
   max-width:100%;
   float: left;
   left: 50%;
   position: absolute;
   margin-top:30px;
   margin-left: -260px;
   border-radius:7px;
   -webkit-border-radius:7px;
   -moz-border-radius:7px;
}
#contact-form input,
#contact-form select,
#contact-form textarea,
#contact-form label {
   font-size: 15px;
   margin-bottom: 2px;
   font-family: 'Source Sans Pro', sans-serif;
}
#contact-form input,
#contact-form select,
#contact-form textarea {
   width:100%;
   background: rgba(255, 255, 255,.5);
   border: 0;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   margin-bottom: 25px;
   padding: 5px;
}
#contact-form input:focus,
#contact-form select:focus,
#contact-form textarea:focus {
   background-color: #E5E6E7;
}
#contact-form input:hover,
#contact-form select:hover,
#contact-form textarea:hover {
   background-color: rgba(255, 255, 255,.7);
}
#contact-form textarea {
   width:100%;
   height: 150px;
}
#contact-form button[type="submit"] {
   cursor:pointer;
   width:100%;
   border:none;
   background:#5EC3E6;
   background-image:linear-gradient(bottom, #006DB6  0%, #5EC3E6 52%);
   background-image:-moz-linear-gradient(bottom, #006DB6 0%, #5EC3E6 52%);
   background-image:-webkit-linear-gradient(bottom, #006DB6 0%, #5EC3E6 52%);
   color:#FFF;
   margin:0 0 5px;
   padding:10px;
   border-radius:5px;
}
#contact-form button[type="submit"]:hover {
   background-image:linear-gradient(bottom, #5EC3E6 0%, #006DB6 52%);
   background-image:-moz-linear-gradient(bottom, #5EC3E6 0%, #006DB6 52%);
   background-image:-webkit-linear-gradient(bottom, #5EC3E6 0%, #1e90ff 52%);
   -webkit-transition:background 0.3s ease-in-out;
   -moz-transition:background 0.3s ease-in-out;
   transition:background-color 0.3s ease-in-out;
}
#contact-form button[type="submit"]:active {
   box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
input:required, textarea:required {
   box-shadow: none;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
}
#contact-form .required {
   font-weight:bold;
   color: #E5E6E7;
}

/* Hide success/failure message
   (especially since the php is missing) */
#failure, #success {
   color: #6EA070;
   display:none;
}

/* Make form look nice on smaller screens */
@media only screen and (max-width: 580px) {
   #contact-form{
      left: 3%;
      margin-right: 3%;
      width: 88%;
      margin-left: 0;
      padding-left: 3%;
      padding-right: 3%;
   }
}
/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
